.name{ 
    font-family: arial;
font-weight: bold;
font-size: 40px;
cursor: pointer;
margin-left: 20px;
color:black

}
.q{ 
    border: none;
    background-color: transparent;
}
.letter{ 
    color: rgb(15, 108, 214);
}
.header{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.services{ 
    background-color:rgb(15, 108, 214);
    border: none ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    color: white;
    font-family: Arial,impact, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 3);

}
.services:hover{ 
    background-color: white;
    color: rgb(15, 108, 214);
    transition: 1s;
  
}
.services:active{ 
    opacity: 0.2;
}

.help{
    background-color:rgb(15, 108, 214);
    border: none ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    color: white;
    font-family: Arial,impact, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 3);
}
.help:hover{ 
    background-color: white;
    color: rgb(15, 108, 214);
    transition: 1s;
}
.help:active{ opacity: 0.2;
}
.container{ 
 
    width: 700px;
    height: 500px;
    margin-left:300px;
    margin-top: 40px;
    border: 2px solid rgb(15, 108, 214);
 
  box-shadow: 0 0 15px rgba(0, 0, 0, 3);

    border-radius: 10px;
    

}
.button{
margin-left: 850px;
align-items: center;

}
.groups{ 
border: 2px solid rgb(255, 255, 255);
    width: 300px;
    height: 150px;
   margin-left: 15px;
   display: inline-block;
   box-shadow: 0 0 5px rgba(0, 0, 0, 3);
   background-color: white;
}
.groups:hover{ 
    border-color: green;
}
.groups:active{ 
    border-color: green;
}
.title{ 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  padding-top: 30px;
  padding-bottom: 60px;
  text-shadow:1px 1px 4px #181818;
  margin-left: 72px;
  width: 550px;
  height: 20px;
  margin-top: 50px;
  

}
.label{
    font-size: 27px;
    font-family: arial;
    font-weight: bold;

    
}

.A{ 
    margin-top: 25px;
    margin-left: 20px;

    
}.input{ 
    margin-left:270px ;
    font-size: 40px;
    margin-top: 10px;
 

}
.solo{ 
    box-shadow: 0 0 5px rgba(0, 0, 0, 3);
    width: 300px;
    height: 150px;
    border: 2px solid rgb(255, 248, 248);
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    background-color:white
    
   
}
.solo:hover{
    border-color: green;

}
.solo:active{ 
    border-color: green;
}
.a{ 
   margin-top: 20px;
}
.alone{ 
    font-size: 27px;
    font-family: arial;
    font-weight: bold;
   
}
.b{ 
    margin-top: 25px;
    margin-left: 20px;

}
.input-2{ 
    margin-left: 270px;
}
.submit{ 
    background-color:rgb(15, 108, 214);
    color: white;
    border: none;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    font-family: arial;
    border-radius: 60px;
    display: block;
    margin-left: 225px;
    margin-top: 70px;
    cursor:pointer;
  
}
.submit:hover{ 
    opacity: 0.9;
}

.submit:active{ 
    opacity: 0.8
}
.services{
    border: none;
}.sub{ 
   background-color: transparent;
   border: none;

}
